
<%= simple_form_for @user, defaults: { input_html: { class: 'form-control' } } do |f| %>
	
 	<% if f.error_notification.present? %>
 		<div class="alert alert-danger" role="alert">
  			<!-- <%= f.error_notification %>  -->
			<%= render 'shared/error_messages', object: f.object %>
		</div>
	<% end %>
	

	
  <div class="form-group">
  	<%= f.input :user_name, required: true, autofocus: true %>
  	<%= f.input :first_name, required: true, autofocus: true %>
  	<%= f.input :last_name, required: true, autofocus: true %>
    <%= f.input :email, required: true, autofocus: true %>
	
  </div>
  <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
    
	<%= f.input :admin, required: true, label:false, autofocus: true %>
    <span class="custom-control-description">This is Admin User</span>
  </label>
  
  <div class="form-actions">
    <%= f.button :submit, class:"btn btn-primary" %>
  </div>
<% end %>
