<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-4">
		<h1>Attendances</h1>
	</div>
	<div class="col-8">
		<%= render 'date_search' %>
	</div>
</div>

<div class="row">
	<div class="col-4">
		<% if @late_attendances.present? %> 
			<%= render partial: "day_list", locals: { attendances: @late_attendances, heading: "Late comers" } %>
		<% else %>
			<h4>No details found for Late comers for the day</h4>
		<% end %>
			
	</div><!-- end of Late comers-->
	<div class="col-4">
		<% if @late_attendances.present? %> 
			<%= render partial: "day_list", locals: { attendances: @today_attendances, heading: "Attendance" } %>
		<% else %>
			<h4>No details found for today</h4>
		<% end %>
	</div><!-- end of Late comers-->
	<div class="col-4">
		<div class="card">
		  	<div class="card-header">
		    	<h5>Habitual Late comers</h5>
		  	</div>
			<div class="card-block">
				<% if @habitual_late_comers.present? %> 
				<table class="table table-hover table-bordered">
				  <thead>
				    <tr>
				      <th>User</th>
				    </tr>
				  </thead>
				  <tbody>
				    <% @habitual_late_comers.each do |user| %>
				       <tr>
				        <td><%= user.full_name %></td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
				<% else %>
					<h4>Wow! No Habitual Late comers</h4>
				<% end %>
			</div> 
		</div> <!-- end of block-->
	</div><!-- end of Late comers-->
</div>


<div class="card">
  	
		<% if @attendances.present? %> 
			<%= paginate @attendances %>
			<%= render partial: "lists_of_attendance", locals: { attendances: @attendances, heading: "Attendence List" } %>
			<%= paginate @attendances %>
		<% else %>
			<h4>No details found for Attendence List</h4>
		<% end %>

</div>




<%= link_to 'New Attendance', new_attendance_path %>
